<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/header') %>
        <main>
            <div class="heading">
                <h1>
                    Welcome to the File Uploader, a simple google drive clone.
                </h1>
        </main>
    </body>
</html>
