<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/header') %>
        <main>
            <div class="heading">

                <% if (locals.currentUser) { %>
                <h1>
                    Welcome to the File Uploader <%= currentUser.username %>, a simple google drive clone.
                </h1>
                <% } else { %>

                    <h1>
                        Welcome to the File Uploader, a simple google drive clone.
                    </h1>
               <% } %>
        </main>
    </body>
</html>
