<form action="/add-folder/<%=parentid%>" method="post">
    <label for="folder-name">folder name:</label>
    <input type="text" name="name" id="folder-name" />
    <button type="submit">add folder</button>
</form>
