<form action="/log-in" method="post" id="login-form">
    <label for="email">email: </label>
    <input type="email" name="email" id="email" required />
    <label for="password">password: </label>
    <input type="password" name="password" id="password" required />
    <button type="submit">log in</button>
</form>
