<form action="/sign-up" method="post" id="signup-form">
    <label for="sign-up-username">username: </label>
    <input type="text" name="username" id="sign-up-username" />

    <label for="email">email: </label>
    <input type="email" name="email" id="email" required />

    <label for="sign-up-password">password: </label>
    <input type="password" name="password" id="sign-up-password" required />

    <label for="confirm-password">confirm password: </label>
    <input
        type="password"
        name="confirm-password"
        id="confirm-password"
        required />
    <button type="submit">Sign Up</button>
</form>
